<!doctype html>
<html lang="en" ng-app="dragons">
  <head>
    <meta charset="utf-8"/>
    <title>Dragons</title>
    <link href='/css/style.css' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="/lib/angular-ui-router.min.js"></script>
    <script src="/index.js"></script>
    <script src="/js/gameSolver.js"></script>
  </head>
  <body>
    <div ng-controller="gameSolver" class="container">
      <div>
        <label>Enter the number of games to run</label>
        <input type="number" ng-model="numberOfGames" min="1" max="100"></input>
        <button ng-click="run()">Run</button>
        <button ng-click="reset()">Reset statistics</button>
      </div>

      <div>
        {{result}}
      </div>
    </div>
  </body>